<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>TODO_LIST APP</title>
</head>
<body>


    <div id="myapp">
        <div class="container">
            <div id="todolist_app">
                <h1>Todo List App</h1>
                <div class="add_task">
                    <input @keyup.enter="addTask()" v-model="newTask.text" type="text" placeholder="inserisci un task">
                    <button @click="addTask">Aggiungi task</button>
                </div>
                <div class="end_task" v-if="tasks.length === 0">Sei riuscito a portare a termine tutto.</div>
                <div v-else class="task_list">
                        <ul>
                            <li v-for="task, i in tasks" :key="i">
                                <span :class="{'done': task.done}">
                                    {{task.text}}
                                </span>
                                <span @click="removeTask(i)"><i class="far fa-trash-alt"></i></span>
                                <span @click="task.done = !task.done"><i class="far fa-check-circle"></i></span>              
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/main.js"></script>
</body>
</html>